<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Simple Auth</title>
</head>
<body>
  <nav>
      <a href="{% url 'home' %}">Home</a> |
      {% if request.user.is_authenticated or request.session.username %}
          {% if request.user.is_authenticated %}
              <span>Welcome, {{ request.user.username }}</span> |
          {% else %}
              <span>Welcome, {{ request.session.username }}</span> |
          {% endif %}
          <a href="{% url 'logout' %}">Logout</a>
      {% else %}
          {% if request.path == '/login/' %}
              <span>Logining...</span> |
              <a href="{% url 'home' %}">Go back</a>
          {% elif request.path == '/register/' %}
              <span>Registering...</span>|
              <a href="{% url 'home' %}">Go back</a>
          {% else %}
              <a href="{% url 'login' %}">Login</a>|
              <a href="{% url 'register' %}">Register</a>
          {% endif %}
      {% endif %}
  </nav>
  <hr>
  {% block content %}{% endblock %}
</body>
</html>