{% extends 'base.html' %}
{% block content %}
    <h1>Change Your Password</h1>
    <form method="post">
        {% csrf_token %}
        <label>Password: <input type="password" name="password1"></label><br>
        <label>Confirm Password: <input type="password" name="password2"></label><br>
        {% if errors %}
        <ul style="color: red;">
            {% for e in errors %}
                <li>{{ e }}</li>
            {% endfor %}
        </ul>
    {% endif %}
        <button type="submit">Change</button>
    </form>
    {% if message %}
        <ul>
            <li style="color: limegreen">{{ message }}</li>
            <li>The page will redirect in 5 seconds.</li>
        </ul>
        <script>
            const targetURL = "{% url 'home' %}"
            const delayMs = 5000
            setTimeout(function(){window.location.href = targetURL;}, delayMs);
        </script>
    {% endif %}
{% endblock %}