{% extends 'base.html' %}
{% block content %}
    <h1>Delete Your Account</h1>
    <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete your account? </p>
        <p>This action cannot be undone.</p>
        <button type="submit" class="btn btn-danger">Confirm</button>
    </form>
    <p style="margin-top:18px">
        <a class="btn btn-outline" href="{% url 'profile_security' %}">Go back</a>
    </p>
    {% if message %}
        <ul>
            <li style="color: limegreen">{{ message }}</li>
            <li>The page will redirect in 5 seconds.</li>
        </ul>
        <script>
            setTimeout(function () { window.location.href = "{% url 'home' %}";}, 5000);
        </script>
    {% endif %}
{% endblock %}