{% extends 'base.html' %}
{% block content %}
    <h1>Verify Your Email</h1>
    <p>A verification code has been sent to {{ email }}.</p>
    <ul>
        {% if not mailed %}<li style="color: red;">Email sending failed in this environment, please check server logs</li>{% endif %}
        
        {% if errors %}{% for e in errors %}<li style="color: red">{{ e }}</li>{% endfor %}{% endif %}

        {% if message == 'Verification code resent.'%}<li style="color: limegreen">{{ message }}</li>{% endif %}
    </ul>

    <form method="post">
        <p style="margin-top:18px">
            {% csrf_token %}
            <label>Verification code: <input type="text" name="verification_code"></label><br>
            <button type="submit" class="btn btn-primary" name="verify">Verify</button>

            {% csrf_token %}
            <button type="submit" class="btn btn-primary" name="resend" value="1">Resend code</button>
            <a class="btn btn-outline" href="{% url 'register' %}">Go back</a>
        </p>
    </form>

{% if message == 'Register successfully' or message == 'Email has been changed successfully' %}

        <ul>
            <li style="color: limegreen">{{ message }}</li>
            <li>The page will redirect to home in 5 seconds.</li>
        </ul>
        <script>
            const targetURL = "{% url 'home' %}"
            const delayMs = 5000
            setTimeout(function(){window.location.href = targetURL;}, delayMs);
        </script>
    {% endif %}
{% endblock %}